:root {
    --lightBlue: #a0bfe2;
    --darkerBlue: rgb(87, 125, 231);
    --greenish: #5d916d;
    --darkish: rgb(0, 0, 0);
    --purp: rgb(107, 50, 182);
}

body {
    color: rgb(0, 0, 0);
    background-color: var(--lightBlue);
    line-height: 1.5;
    padding: 8px;
}

header {
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--darkish);
    box-shadow: 0px -5px 30px 5px rgb(23 49 31);
}

header h1 {
    color: black;
    background-color: var(--greenish);
    padding: 15px 30px;
    margin: 0;
    line-height: 1.25;
    border-radius: 8px;
}


h3 {
    background-color: var(--greenish);
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 25px;
    padding: 5px;
}

p {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 10px;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 15px;
}

nav a {
    color: var(--darkerBlue);
    padding: 10px 10px;
    transition: all 0.25s ease-in;
    margin-right: 10px;
    font-size: 130%;
}

nav a:hover {
    color: var(--purp);
}

.banner {
    background-image: url("../images/banner.jpg");
    background-position: center;
    background-size: cover;
    min-height: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}

.banner h2 {
    margin: 0;
    padding: 60px 10px;
    font-size: 30px;
}

.contact address {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.contact address a {
    text-decoration: none;
    color: black;
    padding: 10px;
    transition: all 0.25s ease-in;
    display: inline-block;
    font-size: 18px;
    background-size: 100% 0.2em;
    background-position: bottom;
    background-color: rgb(94, 124, 223);
    border-radius: 8px;
}

.contact address a:hover {
    background-size: 100% 88%;
    background-color: var(--lightBlue);
    color: var(--purp);
}