:root {
    --lightBlue: #a0bfe2;
    --greenish: #5d916d;
    --darkish: rgb(0, 0, 0);
}

body {
    color: rgb(0, 0, 0);
    background-color: var(--lightBlue);
    line-height: 1.5;
    padding: 8px;
}

header {
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--darkish);
    box-shadow: 0px -5px 30px 5px rgb(23 49 31);
}

header h1 {
    color: black;
    background-color: var(--greenish);
    padding: 15px 30px;
    margin: 0;
    line-height: 1.25;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 15px;
}

nav a {
    color: rgb(87, 125, 231);
    padding: 10px 10px;
    transition: all 0.25s ease-in;
    margin-right: 10px;
    font-size: 130%;
}

nav a:hover {
    color: rgb(107, 50, 182);
}

.banner {
    background-image: url("../images/banner.jpg");
    background-position: center;
    background-size: cover;
    min-height: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.banner h2 {
    margin: 0;
    padding: 70px 150px;
}


